body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*
#game_options
{
	display: none;
	position: absolute;
	margin: auto;
	border: 1px solid #888;
	background-color: #eee;
	border-radius: 5px;
	width: 400px;
	height: 300px;
}
*/

#container
{
}

#game_info
{
	background: #f0f0f0;
	border: 0px solid black;
	width: 250px;
	height: 400px;
	float: left;
}

#game_div
{
	border: 0px solid black;
}

#game_div.fullscreen
{
    z-index: 9999;
    /* 
    width: 100%; 
    height: 100%;
    */ 
    position: fixed; 
    top: 0; 
    left: 0; 
 }

#chat_div
{
	width: 100%;
	clear: both;
}

#player_list
{
	background-color: #00ff77;
	height: 200px;
}

a {
  color: #00B7FF;
}
